<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/college?useUnicode=true&amp;characterEncoding=UTF8</property>
<property name="hibernate.connection.username">postgres</property>
<property name="hibernate.connection.password">12</property>
<property name="show-sql">true</property>
<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQL12Dialect</property>
<property name="current_session_context_class">thread</property>


    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.generate_statistics">true</property>

    <property name="hibernate.connection.Charset">UTF8</property>
    <property name="hibernate.connection.CharacterEncoding">UTF8</property>
    <property name="hibernate.connection.Useunicode">true</property>

    <mapping class="programbot.entities.Student"/>
    <mapping class="programbot.entities.ProgrammingLesson"/>
    <mapping class="programbot.entities.ProgrammingLab"/>
    <mapping class="programbot.entities.ProgrammingCalendar"/>
    <mapping class="programbot.entities.Group"/>
    <mapping class="programbot.entities.User"/>


</session-factory>
</hibernate-configuration>
